<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Hope's App</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="wa4e" content="4ffce04d92a4d6cb21c1494cdfcd6dc1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
          Hello World
        </div>
        <ul>
            <li><a href="/autos">Autos CRUD</a>
            <li><a href="/cats">Cats CRUD</a>
        <ul>
    </body>
</html>